{% extends 'base.html' %}


{% block content %}

<main>
    <div class="intro">
        <h1>Vishwakarma Institue Of Information Technology</h1>
        <p>We build golden future of students.</p>
        <button class="moreInfo"><a href="#achievements" style="color: white;text-decoration: none;">More
                Details</a></button>
    </div>
    <div id="achievements">
        <div class="work">
            <i class="fas fa-atom"></i>
            <p class="work-heading">Vision</p>
            <p class="work-text">Excellence in the field of Engineering for rendering services to the industry and society </p>
        </div>
        <div class="work">
            <i class="fas fa-skiing"></i>
            <p class="work-heading">Mission</p>
            <p class="work-text">✔ Make competent engineers with the spirit of professionalism and responsible citizenship<br>
                                 ✔ Impart knowledge and technical skills of the highest standards<br>
                                 ✔ Prepare engineers to respond to the current and future needs of the industry, higher studies as well as research</p>
        </div>
        <div class="work">
            <i class="fas fa-ethernet"></i>
            <p class="work-heading">Location</p>
            <p class="work-text">The Vishwakarma Institute of Information Technology.<br>
                                 Survey No. 3/4, Kondhwa Budruk, Pune, Maharashtra 411048</p>
        </div>
    </div>
    <div class="about-me">
        <div class="about-me-text">
            <h2>About the College</h2>
            <p>
                The Vishwakarma Institute of Information Technology is an autonomous institute of engineering in Pune,India.
                Established in 2002, it is affiliated to the Savitribai Phule Pune University.
                The college is run by the Bansilal Ramanath Agarwal Charitable Trust.In 2017 the University Grant Commission
                granted it autonomous status.It's consistently ranked as one of the top colleges in Pune,with the recognition
                and approval of the All India Council of Technical Education, New Delhi. DsP has been accredited by NAAC  and
                has received an A grade with CGPA of 3.14.In 2016,DsP awarded as 'Outstanding Engineering Institute- West" by
                Vijayavani National Education Leadership Awards.
            </p>
        </div>
        <img src="static/images/CSVIIT.jpg" alt="me">
    </div>
</main>

{% endblock %}